---
---
@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

a {
  color: #7e57c2;
  text-decoration: none;
}

a:hover {
  color: #512da8;
  text-decoration: underline;
}